

  <div>
    <h2> Title: </h2>
    <%= @movie.title %>
  </div>
  
  <div>
    <h2> Description: </h2>
    <%= @movie.description %>
  </div>    

  <div>
    <h2> Year Released: </h2>
    <%= @movie.year_released %>
  </div>

<br><%= link_to 'Back', movies_path %>